.variants, .answers, .qst {
	text-align: center;
	margin-bottom: 20px;
}

.qst {
	z-index: 1;
}

.card {
	background-color: white;
	border: 1px solid #808080;
	border-radius: 12px;
	color: #000000;
	font-size: 32pt;
	width: 130px;
	height: 140px;
	margin: 4px 5px 4px 10px;
	/*padding: 4px 5px 4px 10px;*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	display: inline-block;
}

.front {
	color: #000000;
	position: absolute;
}

.empty {
	font-size: 32pt;
	margin: 4px 5px 4px 10px;
	display: inline-block;
	border: 1px solid #808080;
	border-radius: 12px;
	color: #000000;
	width: 130px;
	height: 140px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.card-select {
	border: 2px solid gray;
	margin: 4px 5px 4px 10px;
}

.card-select:not(.fail):not(.correct):hover {
	cursor: pointer;
	border: 3px solid gray;
	/*margin: 2px 3px 2px 8px;*/
}

.card-fly {
	position: absolute;
	margin-left: 2px;
}

.correct {
	border: 3px solid #08c308;
}

.fail {
	border: 3px solid red;
}

/*--== colors ==--*/
#msg {
	position: absolute;
	text-transform: uppercase;
	width: 130px;
	text-align: center;
}


.msg-correct {
	color: #08c308;
}

.msg-fail {
	color: red;
}

.red .dot, .red .square, .red .triangle {
	background-color: #e60000;
}

.red .star, .red .cross {
	color: #e60000;
}


.green .dot, .green .square, .green .triangle {
	background-color: green;
}

.green .star, .green .cross {
	color: green;
}

.blue .dot, .blue .square, .blue .triangle {
	background-color: blue;
}

.blue .star, .blue .cross {
	color: blue;
}

.yellow .dot, .yellow .square, .yellow .triangle {
	background-color: #ecec0a;
}

.yellow .star, .yellow .cross {
	color: #ecec0a;
}

/* --== shapes ==-- */
.sign {
	margin-top: -5px;
	margin-left: 3px;
	text-shadow: 1px 1px 5px gray;
	font-weight: bold;
	color: rgb(128, 128, 128);
}

.sign:before {
	content: "?";
	line-height: 22px;
}

.dot {
    background-color: black;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;	
	width: 32px;
	height: 32px;
	box-shadow: 1px 1px 5px gray;
}

.star {
	margin-top: -9px;
	margin-left: -4px;
	text-shadow: 1px 1px 5px gray;
}

.star:before {
	content: "\2605";
	line-height: 22px;
}

.square {
	width: 32px;
	height: 32px;
	background-color: black;
	box-shadow: 1px 1px 5px gray;
}

.cross {
    margin-top: -7px;
    font-size: 32pt;
    margin-left: -1px;
	text-shadow: 1px 1px 5px gray;
}

.cross:before {
	content: "\271A";
}


.triangle {
	margin-left: 5px;
	margin-top: 2px;
	text-align: left;
}

.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
	width:  20px;
	height: 20px;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


/*--== positions ==--*/

.spot1 {
	position: absolute;
	top: 49px;
	left: 49px;
}

.spot2 {
	position: absolute;
	top: 15px;
	left: 49px;
}

.spot3 {
	position: absolute;
	top: 90px;
	left: 49px;
}

.spot4 {
	position: absolute;
	top: 15px;
	left: 10px;
}

.spot5 {
	position: absolute;
	top: 49px;
	left: 86px;
}

.spot6 {
	position: absolute;
	top: 90px;
	left: 10px;
}

.spot7 {
	position: absolute;
	top: 15px;
	left: 86px;
}

.spot8 {
	position: absolute;
	top: 90px;
	left: 86px;
}


/*--== button ==--*/
.btn {
	margin-top: 50px;
	color: #fff;
	background-color: #5cb85c;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 20px;
	outline: none;
}

.btn:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn:active:focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.finished {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}

/* result table */
.res-table {
	border: 1px solid lightgray;
	border-radius: 10px;
	border-collapse: collapse;
}

.res-table thead tr th:first-child {
	text-align: left!important;
	width: 100px;
}

.res-table th {
	font-weight: normal;
	background: #aee6ad;
	border: 1px solid #ffffff;
}

.res-table tbody tr td:first-child {
	text-align: left!important;
}

.res-table .total {
	font-weight: 800;
}

.res-table td {
	text-align: center;
	border: 1px solid #aee6ad;
}

.leftAlgn {
	text-align: left;
}

.center {
	text-align: center;
}
