<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="AnaLocal" connectionString="Server=DESKTOP-UJGK23R; Database=TestApp; Integrated Security = true" />
    <add name="AnaLocalMember" connectionString="Server=(local); Database=aspnetdb; UID=sa; PWD=S0n0ma" />-->
    <add name="AnaLocal" connectionString="Data Source=WIN-CKVI2CEQIC0;Initial Catalog=TestApp;Integrated Security=True" />
    <add name="AnaLocalMember" connectionString="Data Source=WIN-CKVI2CEQIC0;Initial Catalog=TestApp;Integrated Security=True" />

  </connectionStrings>

  <system.web>
    <pages enableSessionState="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <sessionState timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="51200" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/MainPage.aspx" timeout="3600" />
    </authentication>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear />
        <add name="MySqlMembershipProvider" connectionStringName="AnaLocal" applicationName="TestSite" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false"/>
      </providers>
    </membership>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear />
        <!-- removes the existing default document list -->
        <add value="MainPage.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    </modules>
  </system.webServer>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>